# Node
node_modules/
build/
dist/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Ignore raw and processed data, models, and videos
data/
models/data/
models/trained_models/*.h5
models/trained_models/*.keras
*.mp4
*.pkl
