# ---- Node / JS ----
node_modules/
build/
dist/

# ---- Python Environments ----
venv/
.env/

# ---- Data & Models ----
models/*.h5
data/images/

# ---- Python Caches ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- Logs ----
*.log

# ---- IDE / Editor ----
.vscode/
.idea/

# ---- OS junk ----
.DS_Store
Thumbs.db

# ---- Misc ----
*.swp
*.tmp
